.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.chatbot-env/
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/

# ChromaDB
data/chroma_db/

# Logs
logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.ipynb_checkpoints

# pytest
.pytest_cache/
.coverage